// LOAD IN ANIMATIONS
@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

#big_jumbo {
  animation: 2s ease-out 0s 1 slideFromTop;
}

#small_jumbo {
  animation: 1s ease-out 0s 1 slideFromTop;
}

#top1 {
  opacity: 0;
  transition: opacity 3s !important;
  -webkit-transition: opacity 3s !important;
  /* Safari */
}

body {
  opacity: 0;
  transition: opacity 1s;
  -webkit-transition: opacity 1s;
  /* Safari */
}
// FONT
@font-face {
  font-family: 'Roboto';
  src: url("../bower_components/font-awesome/fonts/FontAwesome.otf");
}

* {
  font-family: 'Roboto', 'monospace';
}
// NAVBAR
nav {
  .container-fluid {
    padding-left: 0 !important;
  }
}

#bs-example-navbar-collapse-1 {
  .dropdown-toggle {
    padding: 15px;
    margin-right: 0;
    float: right;
  }
}

.main {
  margin-top: 22px;
  visibility: hidden;
}
@media only screen and (min-width: 0px) and (max-width: 770px) {
  .fix {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}
// ABOUT
#aboutFive,
#aboutFour,
#aboutOne,
#aboutSix,
#aboutThree,
#aboutTwo {
  background-color: $theme_color;
  color: white;
}

#aboutFive:hover,
#aboutFour:hover,
#aboutOne:hover,
#aboutSix:hover,
#aboutThree:hover,
#aboutTwo:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.intro {
  font-size: 20px;
  padding: 20px 0;
}

.img {
  max-width: 438px;
  max-height: 292px;
  width: 100%;
  margin: 20px auto;

  img {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    max-width: 438px;
    max-height: 292px;
    box-shadow: 0 0 20px #000;
  }
}

.row {
  .panel-body {
    font-size: 20px;
    background-color: $panel-bg;

    a {
      color: $stack-bg;
    }
  }

  img {
    max-height: 960px;
    max-width: 640px;
    width: 100%;
    box-shadow: 0 0 20px #000;
    border-radius: 10px;
  }
}

.intro {
  background-color: $background_color;
  border-radius: 1%;
  max-width: 1140px;
  font-style: italic;
}
// STACK BUTTON IDENTIFIER FOR COLOR

.stack {
  color: $stack-color;
  border: $stack-border;
  background-color: $stack-bg;
}
// INDEX FORM CUSTOMIZATION

.form {
  max-width: 630px;
  max-height: 475px;
  height: auto;
  width: auto;
  margin: 30px auto;

  &:hover {
    h3 {
      transition: ease-in-out 200ms;
      background-color: $theme_color2;
    }
  }

  h3 {
    text-align: center;
    color: white;
    margin: 10px auto;
    padding: 20px 0;
    font-size: 30px;
    width: 40%;
    background-color: $theme_color;
    border: 4px solid $jumbo_h1;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased !important;
  }

  [type="submit"] {
    background: $theme_color;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: ease-in-out 200ms;

    &:hover {
      background: $theme_color2;
      transition: ease-in-out 200ms;
      transform: scale(1.025);
    }
  }

  textarea {
    height: 8em;
  }

  input,
  textarea {
    border: 3px solid $jumbo_h1;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;

    &:focus {
      outline: none;
      border-color: $theme_color3;
    }
  }

  .contact-info-group {
    label {
      width: 50%;
      float: left;
      box-sizing: border-box;

      &:nth-child(1) {
        padding-right: 5px;
      }

      &:nth-child(2) {
        padding-left: 5px;
      }
    }
  }

  label {
    display: block;
    margin: 10px 0;
  }

  span {
    font-size: 15px;
    display: block;
  }
}
// INDEX PANEL COLOR

#Five,
#Four,
#One,
#Six,
#Three,
#Two {
  background-color: $theme_color2;
  color: white;
}

#Five:hover,
#Four:hover,
#One:hover,
#Six:hover,
#Three:hover,
#Two:hover {
  text-decoration: underline;
  text-decoration-color: white;
}
// PROJECTS PANEL COLOR AND BREAKS

#project_panel {
  margin: 20px 0;
  @media only screen and (min-width: 1701px) and (max-width: 2000px) {
    * {
      font-size: 20px;
    }

    .screenshot {
      height: 797px;
    }

    .screenshot2 {
      height: 741px;
    }

    img {
      max-width: 800px;
      max-height: 800px;
      margin-top: 180px !important;
    }

    .lower {
      height: 397px;
      width: 800px;
      margin-top: 152px !important;
    }

    .image-caption-wrapper {
      .image-caption {
        width: 800px;
        height: 398px;

        #ajk123 {
          margin-top: 100px;
        }
      }
    }
  }
  @media only screen and (min-width: 1401px) and (max-width: 1700px) {
    * {
      font-size: 16px;
    }

    .screenshot {
      height: 665px;
    }

    .screenshot2 {
      height: 621px;
    }

    img {
      max-width: 650px;
      max-height: 650px;
      margin-top: 151px !important;
    }

    .lower {
      height: 324px;
      width: 650px;
      margin-top: 129px !important;
    }

    .image-caption-wrapper {
      .image-caption {
        width: 650px;
        height: 324px;

        #ajk123 {
          margin-top: 100px;
        }
      }
    }
  }
  @media only screen and (min-width: 1101px) and (max-width: 1400px) {
    * {
      font-size: 14px;
    }

    .screenshot {
      height: 618px;
    }

    .screenshot2 {
      height: 599px;
    }

    img {
      max-width: 500px;
      max-height: 500px;
      margin-top: 193px !important;
    }

    .lower {
      height: 249px;
      width: 500px;
      margin-top: 184px !important;
    }

    .image-caption-wrapper {
      .image-caption {
        margin-top: 29px;
        width: 500px;
        height: 250px;

        #ajk123 {
          margin-top: 60px;
        }
      }
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1100px) {
    * {
      font-size: 14px;
    }

    .screenshot {
      height: 694px;
    }

    .screenshot2 {
      height: 637px;
    }

    img {
      max-width: 450px;
      max-height: 450px;
      margin-top: 230px !important;
    }

    .lower {
      height: 224px;
      width: 450px;
      margin-top: 195px !important;
    }

    .image-caption-wrapper {
      .image-caption {
        margin-top: 15px;
        width: 450px;
        height: 224px;

        #ajk123 {
          margin-top: 40px;
        }
      }

      #csh123 {
        margin-top: 8px;
        width: 450px;
        height: 224px;

        #ajk123 {
          margin-top: 40px;
        }
      }
    }
  }
  @media only screen and (min-width: 691px) and (max-width: 991px) {
    * {
      font-size: 14px;
    }

    .screenshot {
      height: 600px;
    }

    .screenshot2 {
      height: 600px;
    }

    img {
      max-width: 600px;
      max-height: 600px;
      margin-top: 131px !important;
    }

    .lower {
      height: 299px;
      width: 600px;
      margin-top: 130px !important;
    }

    .image-caption-wrapper {
      .image-caption {
        width: 600px;
        height: 300px;

        #ajk123 {
          margin-top: 100px;
        }
      }
    }
  }
  @media only screen and (min-width: 501px) and (max-width: 690px) {
    * {
      font-size: 14px;
    }

    .screenshot {
      height: 600px;
    }

    .screenshot2 {
      height: 600px;
    }

    img {
      max-width: 450px;
      max-height: 450px;
      margin-top: 180px !important;
    }

    .lower {
      height: 224px;
      width: 450px;
      margin-top: 180px !important;
    }

    .image-caption-wrapper {
      .image-caption {
        margin-top: 12px !important;
        width: 450px;
        height: 224px;

        #ajk123 {
          margin-top: 40px;
        }
      }
    }
  }
  @media only screen and (min-width: 300px) and (max-width: 500px) {
    * {
      font-size: 14px;
    }

    .screenshot {
      height: 400px;
    }

    .screenshot2 {
      height: 400px;
    }

    img {
      max-width: 250px;
      max-height: 250px;
      margin-top: 118px !important;
    }

    .lower {
      height: 124px;
      width: 250px;
      margin-top: 118px !important;
    }

    .image-caption-wrapper {
      .image-caption {
        margin-top: 0 !important;
        width: 250px;
        height: 124px;

        #ajk123 {
          margin-top: 20px;
        }
      }
    }

    em {
      font-size: 1.0rem !important;
    }

    strong {
      font-size: 1.0rem !important;
    }

    p {
      a {
        font-size: 1.0rem !important;
      }
    }
  }

  img {
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 0 0 0;
    border-radius: 5px;
  }

  .image-caption-wrapper {
    opacity: 0;
    text-align: center !important;
    top: 0 !important;
    transition: all ease-in 500ms;

    &:focus,
    &:hover {
      transition: all ease-out 500ms;
      opacity: 1;

      p {
        transform: translate(0px, -10px) scale(1.1);
      }
    }

    .image-caption {
      background-color: $wrapper-color;
      left: 50%;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
      border-radius: 5px;

      p {
        -webkit-font-smoothing: subpixel-antialiased;
        -webkit-font-smoothing: antialiased !important;
        color: $theme_color3;
        margin: 15px 0;
        -webkit-transition: transform 500ms ease-out;
        -moz-transition: transform 500ms ease-out;
        -o-transition: transform 500ms ease-out;
        transition: transform 500ms ease-out;
      }

      em {
        font-size: 2.0rem;
      }

      strong {
        font-size: 3.0rem;
      }

      a {
        box-shadow: 0 17px 10px -10px rgba(0,0,0,0.4);
        color: $theme_color3;
        border: 2px solid $theme_color3;
        border-radius: 5px;
        padding: 8px;
        text-decoration: none;
        letter-spacing: 1.25px;

        &:focus,
        &:hover {
          background-color: $theme_color3;
          color: $wrapper-color;
          transition: all ease-in 250ms;
        }
      }
    }
  }

  #divider {
    margin: 2px 0;
    padding: 0;
    height: 2px;
    background-color: $theme_color;
  }

  .panel-body {
    margin: 0, 0 !important;
    background-color: white;
    padding: 0;
  }

  .well {
    margin-bottom: 0;
    background-color: white;
  }

  a {
    font-weight: bold;
    letter-spacing: 0.8px;
    color: $stack-bg;
    font-size: 2.5rem;
  }

  hr {
    background-color: $stack-border;
    height: 1px;
    opacity: 0.3;
  }

  h4 {
    font-size: 2.5rem;
  }

  .panel-heading {
    color: white;
    background-color: lighten($jumbo_h1,18%);

    .panel-title {
      font-size: 3.0rem;
    }
  }
}
// RESUME STYLING & BUTTON

.resume {
  margin: 5px;
}

#download {
  button {
    width: auto;
    margin: 0 auto;
    font-size: 32px;
    border-radius: 10px;
    border-width: medium;
    border-style: solid;
    border-color: $theme_color3;
    color: $theme_color3;
    padding: 7px 10px;
    transition: all ease-in-out 250ms;
    margin-bottom: 4px;
    background: transparent;
    box-shadow: 0 0 5px #000;
  }

  button:hover {
    background-color: $theme_color3;
    color: $wrapper-color;
  }
}

object {
  margin: 20px;
}
//BRAND

#pin {
  a {
    position: absolute;
    font-size: 25px;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 0;
    border-radius: 20%;
    border-width: medium;
    border-style: solid;
    border-color: $theme_color3;
    color: $theme_color3;
    padding: 2px 5.5px;
    transition: all ease-in-out 250ms;
  }

  a:hover {
    background-color: $theme_color3;
    color: $wrapper-color;
  }
}
// SMALL JUMBOTRON

#small_jumbo {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased !important;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
  min-height: 60px;
  border: 2px solid $theme_color;

  center {
    background: white;
    opacity: 0.7;
    width: 250px;
    margin: auto;
    border-radius: 10px;
    padding-top: 0;
    padding-bottom: 10px;
    border: 2px solid $theme_color;
  }
}

#small_jumbo:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url("../img/wed.jpg") 0 center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}
// BIG JUMBOTRON

#big_jumbo {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased !important;
  position: relative;
  z-index: 1;
  min-height: 350px;
  margin-bottom: 20px;
  border: 2px solid $theme_color;

  p {
    margin: auto auto 20px !important;
    max-width: 650px;
    color: $jumbo_p;
  }

  h1 {
    margin-bottom: 20px;
  }

  h2 {
    color: $jumbo_h2;
    margin-bottom: 20px;
  }

  a {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0 17px 10px -10px rgba(0,0,0,0.4);
    transition: all ease-in-out 300ms;
    margin: 10px;
    border-color: inherit;
    border-color: rgb(30,30, 30);
    color: rgb(30,30, 30);
  }

  a:hover {
    box-shadow: 0 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -10px) scale(1.1);
    border-color: white;
    color: white;
  }
}

#big_jumbo:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../img/wed.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}
// FOOTER

footer {
  background-image: linear-gradient(to top, $footer_color, transparent);

  #top,
  #top1 {
    color: $stack-bg;
  }

  #message {
    position: absolute;
    visibility: hidden;
  }

  .success {
    display: inline-block;
    color: $brand-success;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 17px 10px -10px rgba(0,0,0,0.4);
    transition: all ease-in-out 300ms;
  }

  .success:hover {
    box-shadow: 0 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -10px) scale(1.1);
    background-color: $brand-success;
    color: #fff;
  }

  .primary {
    display: inline-block;
    color: $brand-primary;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 17px 10px -10px rgba(0,0,0,0.4);
    transition: all ease-in-out 300ms;
  }

  .primary:hover {
    box-shadow: 0 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -10px) scale(1.1);
    background-color: $brand-primary;
    color: #fff;
  }

  .info {
    display: inline-block;
    color: $brand-info;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 17px 10px -10px rgba(0,0,0,0.4);
    transition: all ease-in-out 300ms;
  }

  .info:hover {
    box-shadow: 0 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -10px) scale(1.1);
    background-color: $brand-info;
    color: #fff;
  }

  .stack-icon {
    display: inline-block;
    color: $stack-border;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 17px 10px -10px rgba(0,0,0,0.4);
    transition: all ease-in-out 300ms;
  }

  .stack-icon:hover {
    box-shadow: 0 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -10px) scale(1.1);
    background-color: $stack-border;
    color: #fff;
  }

  .fa {
    font-size: 50px;
    margin: 10px;
  }

  p {
    font-size: 12px;
    margin-top: 10px;
    color: #000;
  }

  .fa-envelope-square {
    cursor: pointer;
    background: transparent;
    display: inline-block;
    color: $jumbo_h1;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 17px 10px -10px rgba(0,0,0,0.4);
    transition: all ease-in-out 300ms;
  }

  .fa-envelope-square:hover {
    box-shadow: 0 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -10px) scale(1.1);
    background-color: $theme_color;
    color: #fff;
  }

  p {
    font-size: 20px;
  }

  .fa-copyright {
    font-size: 20px;
    margin-top: 0;
  }
}
