// ICONS


#bs-example-navbar-collapse-1 {
  .dropdown-toggle {
    padding: 15px;
    margin-right: 0px;
    float: right;
  }
}


// FONT

@font-face {
  font-family: 'Roboto';
  src:url(../bower_components/font-awesome/fonts/FontAwesome.otf);
}

* {
  font-family: 'Roboto', 'monospace';
}


// ABOUT

#aboutOne, #aboutTwo, #aboutThree, #aboutFour, #aboutFive, #aboutSix {
  background-color: $theme_color;
  color: white;
}
#aboutOne:hover, #aboutTwo:hover, #aboutThree:hover, #aboutFour:hover, #aboutFive:hover, #aboutSix:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.intro {
  font-size: 20px;
  padding: 20px 0;
}

.img {
  max-width: 438px;
  max-height: 292px;
  width: 100%;
  margin: 20px auto;
  img {
    margin-bottom: 20px;
    width: 100%;
    border-radius: 10px;
    max-width: 438px;
    max-height: 292px;
    box-shadow: 0px 0px 20px #000;
  }
}

.row {
  .panel-body{
    font-size: 20px;
    background-color: $panel-bg;
    a {
      color: $stack-bg;
    }
  }
  img {
    max-height: 960px;
    max-width: 640px;
    width: 100%;
    box-shadow: 0px 0px 20px #000;
    border-radius: 10px;
  }
}

.intro {
  background-color: $background_color;
  border-radius: 1%;
  max-width: 1140px;
  font-style: italic;
}


// STACK BUTTON IDENTIFIER FOR COLOR

.stack {
    color: $stack-color;
    border: $stack-border;
    background-color: $stack-bg;
}

// INDEX PANEL COLOR

#One, #Two, #Three, #Four, #Five, #Six {
  background-color: $theme_color2;
  color: white;
}
#One:hover, #Two:hover, #Three:hover, #Four:hover, #Five:hover, #Six:hover {
  text-decoration: underline;
  text-decoration-color: white;
}


// PROJECTS PANEL COLOR AND BREAKS

#project_panel {
  margin: 20px 0px;

  #divider {
    margin: 0;
    padding: 0;
    height: 2px;
  }

  .panel-body {
    margin: 0, 0 !important;
    padding: 0;
  }

  .well {
    margin-bottom: 0px;
  }

  a {
    font-weight: bold;
    letter-spacing: .8px;
    color: $stack-bg;
    font-size: 25px;
  }

  hr {
    background-color: $stack-border;
    height: 1px;
    opacity: 0.3;
  }

  h4 {
    font-size: 25px;
  }

  .panel-heading{
    color: white;
    background-color: lighten($jumbo_h1,18%);
    .panel-title {
      font-size: 30px;
    }
  }
}

// RESUME STYLING & BUTTON

#download {


  button {
    width: auto;
      margin: 0 auto;
      font-size: 32px;
      border-radius: 10px;
      border-width: medium;
      border-style: solid;
      border-color: $stack-border;
      color: $state-success-text;
      padding: 7px 10px;
      transition: all ease-in-out 100ms;
      margin-bottom: 4px;
      background: transparent;
      box-shadow: 0px 0px 5px #000;
    }

    button:hover {
      border-color: darken($stack-border, 20%);
      background-color: $pin-bg;
      color: darken($state-success-text, 40%);
    }
}

object {
  margin: 20px;
}

//BRAND

#pin {
a {
    position: absolute;
    font-size: 25px;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 0px;
    border-radius: 20%;
    border-width: medium;
    border-style: solid;
    border-color: $stack-border;
    color: $state-success-text;
    padding: 2px 5.5px;
    transition: all ease-in-out 100ms;
    box-shadow: 0px 0px 5px #000;
}

a:hover {
  border-color: darken($stack-border, 20%);
  background-color: $pin-bg;
  color: darken($state-success-text, 40%);
}
}


// SMALL JUMBOTRON

#small_jumbo {
  position: relative;
  z-index: 1;
  margin-bottom: 0px;
  min-height: 60px;
  border: 2px solid $theme_color;

  center {
    background: white;
    opacity: 0.7;
    width: 250px;
    margin: auto;
    border-radius: 10px;
    padding-top: 0px;
    padding-bottom: 10px;
    border: 2px solid $theme_color;
  }
}

#small_jumbo:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../img/wed.jpg) 0 center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;

}

// BIG JUMBOTRON

#big_jumbo {
  position: relative;
  z-index: 1;
  min-height: 350px;
  margin-bottom: 20px;
  border: 2px solid $theme_color;
  p {
    margin: auto;
    margin-bottom: 20px !important;
    max-width: 650px;
    color: $jumbo_p;
  }
  h1 {
    margin-bottom: 20px;
  }
  h2 {
    color: $jumbo_h2;
    margin-bottom: 20px;
  }
  a {
    display: inline-block;
    padding: 15px 25px;
    border-radius: 10px;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
    transition: all ease-in-out 300ms;
    margin: 10px;
    border-color: inherit;
  }
  a:hover {
  box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
  transform: translate(0px, -10px) scale(1.1);
  border-color: rgb(30,30, 30);
  color: rgb(60,60, 60);
  }
}

#big_jumbo:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../img/wed.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4;
}

// FOOTER

footer {

  background-image: linear-gradient(to top, $footer_color, transparent);

  #top {
    color: $stack-bg;
  }

  #message {
    position: absolute;
    visibility: hidden;
  }

  .success {
      display: inline-block;
      color: $brand-success;
      border-radius: 10px;
      padding: 5px;
      box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
      transition: all ease-in-out 300ms;
  }

  .success:hover {
    box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -10px) scale(1.1);
    background-color: $brand-success;
    color: #fff;
  }

  .primary {
    display: inline-block;
    color: $brand-primary;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
    transition: all ease-in-out 300ms;
  }

  .primary:hover {
    box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -10px) scale(1.1);
    background-color: $brand-primary;
    color: #fff;
  }

  .info {
    display: inline-block;
    color: $brand-info;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
    transition: all ease-in-out 300ms;
  }

  .info:hover {
    box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -10px) scale(1.1);
    background-color: $brand-info;
    color: #fff;
  }

  .stack-icon {
    display: inline-block;
    color: $stack-border;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
    transition: all ease-in-out 300ms;
  }

  .stack-icon:hover {
    box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -10px) scale(1.1);
    background-color: $stack-border;
    color: #fff;
  }

  .fa {
    font-size: 50px;
    margin: 10px;
  }
  p {
    font-size: 12px;
    margin-top: 10px;
    color: #000;
  }

  .fa-envelope-square {
    cursor: pointer;
    background: transparent;
    display: inline-block;
    color: $jumbo_h1;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
    transition: all ease-in-out 300ms;
  }

  .fa-envelope-square:hover {
    box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -10px) scale(1.1);
    background-color: $theme_color;
    color: #fff;
  }

  p {
    font-size: 20px;
  }

  .fa-copyright {
    font-size: 20px;
    margin-top: 0px;
  }
}
